.menu-title {
    font-family: Quantico, sans-serif;
    font-size: 7em;
    margin-top: 20px;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 35px;
    -webkit-text-stroke: 1px white;
    /* Text shadow to create an outline effect */
    text-shadow:
        2px 2px 0 white,
       -2px 2px 0 white,
        2px -2px 0 white,
       -2px -2px 0 white,
        0px 2px 0 white,
        2px 0px 0 white,
        0px -2px 0 white,
       -2px 0px 0 white;
       /* end of outline effect */
}

#rain {
    z-index: -1;
    position: fixed;
}

.menu-button {
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Quantico', sans-serif;
    font-size: 2.5em;
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s;
}

#back-to-menu-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}